<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-2">
            <h4>Projects</h4>
        </div>
        <div class="col-md-10">
            <button type="button" class="btn btn-primary" open-bootstrap-modal modal-id="addProjectModal">Add New Project</button>
        </div>
    </div>
    <br>
    <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Created On</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{project.name}}</td>
                        <td>{{project['created_date']|timeago}}</td>
                        <td><button type="button" class="btn btn-success"><a ng-href="/views/#!/project/{{project['_id']}}" style="text-decoration:none;">View Details</a></button></td>
                    </tr> 
                </tbody>
            </table>
    </div>
</div>
<div id="addProjectModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addNewProjectForm" id="addNewProjectForm" novalidate>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">Project Name</label>
                        <input type="text" name="projectName" id="projectName" ng-model="name" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="email" name="emailId" id="emailId" ng-model="emailId" placeholder="Start typing email id for collaborators..." class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" ng-click="addCollaborator()" >Add</button>
                        </div>
                    </div>
                    <div class="row" ng-if="members.length > 0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Member Name</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="member in members">
                                    <th scope="row">{{$index+1}}</th>
                                    <td>{{member.email}}</td>
                                    <td><button type="button" class="btn btn-danger" ng-click="removeMember($index)">Remove</button></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addProject()" ng-disabled="addNewProjectForm.$invalid">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>