<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Project</li>
    </ol>
</div>
<div class="container">
        <br>
        <div class="row">
            <div class="col-md-2">
                <h4>Projects</h4>
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-primary">Add New File To Folder</button>
            </div>
        </div>
        <br>
        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File/Folder Name</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>