<div class="container-fluid">
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Project</li>
    <li class="breadcrumb-item active">File</li>
</ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Commit History - File - '{{file.name}}'</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" ng-click="pushChanges()">Push Changes To Server</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Commits</th>
                        <th>Created On</th>
                        <th>User</th>
                        <th>View File</th>
                        <th>Fork New Commit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="commit in commits | orderBy:'-created_date'">
                        <th>{{$index+1}}</th>
                        <th>{{commit['message']}}</th>
                        <th>{{commit['created_date']|timeago}}</th>
                        <th>{{commit['user'].email}}</th>
                        <th><button class="btn btn-primary" ng-click="openCommit(commit['_id'])">View File</button></th>
                        <th><button class="btn btn-success" ng-click="openFork(commit['_id'])">Fork</button></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="openCommitModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Commit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="addNewFileForm" id="addNewFileForm" novalidate>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="fileName" id="fileName" ng-model="file.name" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <input type="text" name="fileName" id="fileName" ng-model="commit.message" class="form-control" disabled>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-ace="{
                                onLoad:aceLoaded,
                                onChange:aceChanged
                            }"></div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveCommit()" ng-disabled="addNewFileForm.$invalid">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="forkCommitModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fork Commit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="forkCommitForm" id="forkCommitForm" novalidate>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="message" id="message" placeholder="Enter Commit Message" ng-model="fork.message" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-ace="{
                                onLoad:forkAceLoaded,
                                onChange:forkAceChanged
                            }"></div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="forkCommit()" ng-disabled="forkCommitForm.$invalid">Fork</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            </div>
            </form>
        </div>
    </div>
</div>