<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-2">
            <h4>Projects</h4>
        </div>
    </div>
    <br>
    <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Project Name</th>
                        <th>Created On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{project.name}}</td>
                        <td>{{project['created_date']|timeago}}</td>
                        <td><button type="button" class="btn btn-success"><a ng-href="/#!/project/{{project['_id']}}" style="text-decoration:none;">View Details</a></button></td>
                    </tr> 
                </tbody>
            </table>
    </div>
</div>